body {
    background-color: rgb(36, 192, 153);
    text-align: center;
}

h1 {
    margin-top: 50px;
    font-size: 5em;
    font-family: 'Sacramento', sans-serif;
    color: #a2f2f2;
    margin: 0;
}

.selected {
    outline: 5px solid orange;
}

.mark {
    background-color: lightpink
}

.center {
    margin-left: auto;
    margin-right: auto;
}

table,
th,
td {
    border: 1px solid grey;
}

.game-board td {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.4em;
}

.boom {
    background-color: rgb(233, 82, 82);
}

.shown {
    background-color: rgb(20, 175, 103);
}

.un-shown {
    background-color: white;
}

.occupied {
    position: relative;
    box-shadow: 0px 10px 14px -7px #276873;
    background: linear-gradient(to bottom, #66bfac 5%, #a2f2f2 100%);
    background-color: #66bf9a;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: normal;
    padding: 13px 32px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
    margin: 10px auto;
}

.flag {
    position: relative;
    font-size: xx-large;
    box-shadow: 0px 10px 14px -7px #276873;
    background: linear-gradient(to bottom, #66bfac 5%, #a2f2f2 100%);
    background-color: #66bf9a;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: normal;
    padding: 13px 32px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
    margin: 10px auto;
}

.lives {
    position: relative;
    box-shadow: 0px 10px 14px -7px #276873;
    background: linear-gradient(to bottom, #66bfac 5%, #a2f2f2 100%);
    background-color: #66bf9a;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: normal;
    padding: 13px 32px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
    margin: 10px auto;
}

.smile {
    position: relative;
    box-shadow: 0px 10px 14px -7px #276873;
    background: linear-gradient(to bottom, #66bfac 5%, #a2f2f2 100%);
    background-color: #66bf9a;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: normal;
    padding: 13px 32px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
    margin: 10px 60px;
}

.smile:hover {
    background: linear-gradient(to bottom, #a2d5f2 5%, #66BFBF 100%);
    background-color: #a2d5f2;
}

.time {
    position: relative;
    box-shadow: 0px 10px 14px -7px #276873;
    background: linear-gradient(to bottom, #66bfac 5%, #a2f2f2 100%);
    background-color: #66bf9a;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: normal;
    padding: 13px 32px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
    margin: 10px 60px;
    width: 130px;
}

.level {
    box-shadow: 0px 10px 14px -7px #276873;
    background: linear-gradient(to bottom, #66bfac 5%, #a2f2f2 100%);
    background-color: #66bf9a;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: normal;
    padding: 13px 32px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
    margin: 0 auto;
}

.level:hover {
    background: linear-gradient(to bottom, #a2d5f2 5%, #66BFBF 100%);
    background-color: #a2d5f2;
}